*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Alexandria", sans-serif !important;;
  background: #020a06;
  color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: 100vh;
}


.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}


.section {
  padding: 80px 120px;
}

.section-title {
  text-align: center;
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #00ff88;
}


.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: #00ff88;
  color: #02110a;
  font-weight: 600;
}

.btn-primary.outline {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}
