
.home-page {
  background: #021b17;
  color: #ffffff;
  min-height: 100vh;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

.home-bg-1 {
  position: relative;
  background-image:
    linear-gradient(
      180deg,
      rgba(0, 255, 85, 1) 0%,
      rgba(0, 255, 85, 0) 100%
    ),
    url("/images/background/home/background-1.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}


.home-bg-1::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #000;
  pointer-events: none;
}


.hero-inner {
  max-width: 1380px;
  margin: 0 auto;
}

.home-bg-2 {
  background-image: url("/images/background/home/background-2.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.home-bg-3 {
  background-image: url("/images/background/home/background-3.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
